.app {
padding: 5vh; 
box-sizing: border-box; 
}

.nav{

  display: flex;
  justify-content: flex-start;
  gap: 20px; 
}


.products-list-container{

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.item-container{

  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: 52vh;  
  border: 3px solid orange;
  border-radius: 10px;
}

.image-container{
  display:flex;
  justify-content: center;
}

.name{
  color: teal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.description{

  font-weight: 400;
  line-height: 25px;
}

.price{
  font-size: 36px;
}

img{
  height: 150px;
  margin-bottom: 20px;
}


.price-and-button-container{
  display: flex;
  justify-content: space-between;
}

button{
  background: teal;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

button:hover{
  background: white;
  border: 2px solid teal;
  color: teal;
}


.cart-item-container{

  display: flex;
  height: 80px;
  width: 600px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid orange;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  position: relative;

}

.cart-item-name{
  position: absolute;
  left: 20px;
  top: 25px;
}

.cart-item-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item-price{
  margin-left: 20px;
}

.plus-counter-button{
  width: 40px;
}

.minus-counter-button{
  width: 40px;
}
